@model LogViewModel

@{
    var response = ViewBag.Response;
    var table = Model.Table;
}

<h1>Application Insights</h1>

<h2>Helpfull links</h2>

<ul>
    <li><a target="_blank" href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core">https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core</a></li>
    <li><a target="_blank" href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics">https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics</a></li>
    <li><a target="_blank" href="http://geekswithblogs.net/tmurphy/archive/2017/08/04/query-application-insights-rest-api-to-create-custom-notifications.aspx">http://geekswithblogs.net/tmurphy/archive/2017/08/04/query-application-insights-rest-api-to-create-custom-notifications.aspx</a></li>
</ul>

<h2>Create Log Entry</h2>

@if (response != null)
{
    if (response.Success)
    {
        <div class="alert alert-success" role="alert">
            @response.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @response.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    }
}

<form action="ApplicationInsights/AddToLog" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" type="text" id="logEntry" name="logEntry" placeholder="Insert log entry" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Inyxgp63fRFqUePGvuI5jGZsloJu1L7X9le1gy7NCIlSduCRx9jDQClrV9pOTTmqUyXnJBXhmrjcUVDJyDUMm7-MF_9rK8aAZdRdlOri7FmKVkRe_2v5LIHGKFcTjPrWPYnc9AdSbomkiOSaTEg7RU" />
</form>

<h2>All log entries</h2>
<table class="table">
    <thead>
        <tr>
            @foreach (var column in table.Columns)
            {
                <th>@column.Name.ToUpper()</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in table.Rows)
        {
            <tr>
                <td>@row[0]</td>
                <td>@row[1]</td>
            </tr>
        }
    </tbody>
</table>


